html {
  font-family: Helvetica, sans-serif;
}

h1 {
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
  padding-top: 15px;
  }

h1.background {
  background-image: url("images/pattern.jpeg");
}

h2 {
  font-size: 32px;
  font-weight: bold;
  color: white;
  padding-top: 5px;
}

h3 {
  font-weight: bold;
}

#brushes {
  background-color: mediumspringgreen;
}

#frames {
  background-color: lightcoral;
}

#paint {
  background-color: skyblue;
}

span.price {
  color: blue;
  font-weight: bold;
}
